.mainPane {
    -fx-alignment: BASELINE;
    -fx-background-color: black;
    -fx-background-image: url("Ferrari.png");
    -fx-background-repeat: stretch;
    -fx-background-position: center;
    -fx-background-size: 20%;
}
.mainPane .center {
    -fx-alignment: CENTER;

}
.mainPane .top, .root .left, .root .right, .root .bottom {
    -fx-alignment: CENTER;
}
.employees {
    -fx-alignment: CENTER;

}
.login Label {
    -fx-text-fill: white; 
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75), 10, 0.5, 0, 0);
}
.topbar {
    -fx-alignment: TOP_RIGHT;
    -fx-max-height: 100;
    -fx-effect: dropshadow(three-pass-box, rgba(230,230,230,230), 5, 0, 0, 0);
    -fx-background-color: linear-gradient(to bottom, #141414, #d9dadb);
}
.login {
    -fx-padding: 100;
}
.navBar {
    -fx-background-color: linear-gradient(to right, #1b1b1b, #555557);
}
.navButton {
    -fx-padding: 20;
    -fx-spacing: 20;
}
VBox {
    -fx-alignment: CENTER;
}
HBox {
    -fx-alignment: CENTER;
}
.bigTable {
    -fx-background-color: transparent;
}

.tableInCell {
    -fx-pref-height: 150;
}
.tablecell {
    -fx-pref-height: 150;
}
.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-pref-height: 5;
    -fx-min-height: 5;
    -fx-max-height: 5;
}
.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
    -fx-pref-height: 5;
    -fx-min-height: 5;
    -fx-max-height: 5;
}
.guiCell {
    -fx-alignment: center;

}
.cellCheck {

}
.cellCheck .box {
    -fx-min-width: 30;
    -fx-min-height: 30;

}
.cellCheck .text {
    -fx-font-size: 20;
}
.cellCheck .mark {
    -fx-min-width: 30;
    -fx-min-height: 30;
}
.cellCheck:selected .mark {
    -fx-background-color: grey;
}

.cellCheck:selected .box {
    -fx-background-color: brown;
}
.Modal{
    -fx-background-radius: 45px;
    -fx-effect: dropshadow(three-pass-box, rgba(189, 189, 189, 0.8), 10, 0, 0, 0);
    -fx-background-insets: 10px;
    -fx-padding: 30;
    -fx-background-color: black;
    -fx-border-insets: 10px;
    -fx-border-radius: 39px;
    -fx-border-width: 5px;
    -fx-border-color: whitesmoke;
    -fx-border-style: solid inside;
}
.Modal HBox {
    -fx-alignment: center-right;
}
Label {
    -fx-font-size: 16px;
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
    -fx-padding: 5;
}
TextField {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 5;

}
PasswordField {
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-padding: 5;
}
Button {
    -fx-text-fill: Black; /* White text color */
    -fx-font-size: 16px; /* Font size */
    -fx-font-family: "Arial"; /* Font family */
    -fx-background-radius: 5px; /* Rounded corners */
    -fx-border-radius: 5px; /* Rounded corners */
    -fx-padding: 5px 5px; /* Padding */
    -fx-border-color: transparent; /* Transparent border color */
}
Glyph
{
    -fx-scale-x: 3;
    -fx-scale-y: 3;
    -fx-text-fill: whitesmoke;
    /*-fx-effect: dropshadow(three-pass-box, rgba(230,230,230,230), 4, 0, 0, 0);*/
}
.table-view .column-header-background .filler {
    -fx-background-color: white;
}

.table-view .column-header{
    -fx-background-color: darkgray;
    -fx-text-background-color: black;
}

.table-row-cell:selected {
    -fx-background-color: darkgray;
    -fx-text-background-color: white;
}
.table-cell {
    -fx-alignment: Center;
}
